language: python
python: 2.7
env:

  - TOX_ENV=flake8

  - TOX_ENV=py34-django1.9
  - TOX_ENV=py34-django1.8
  - TOX_ENV=py34-django1.7
  - TOX_ENV=py34-django1.6
  - TOX_ENV=py34-django1.5

  - TOX_ENV=py33-django1.8
  - TOX_ENV=py33-django1.7
  - TOX_ENV=py33-django1.6
  - TOX_ENV=py33-django1.5

  - TOX_ENV=py32-django1.8
  - TOX_ENV=py32-django1.7
  - TOX_ENV=py32-django1.6
  - TOX_ENV=py32-django1.5

  - TOX_ENV=py27-django1.9
  - TOX_ENV=py27-django1.8
  - TOX_ENV=py27-django1.7
  - TOX_ENV=py27-django1.6
  - TOX_ENV=py27-django1.5
  - TOX_ENV=py27-django1.4

  - TOX_ENV=py26-django1.6
  - TOX_ENV=py26-django1.5
  - TOX_ENV=py26-django1.4

  - TOX_ENV=pypy-django1.9
  - TOX_ENV=pypy-django1.8
  - TOX_ENV=pypy-django1.7
  - TOX_ENV=pypy-django1.6
  - TOX_ENV=pypy-django1.5
  - TOX_ENV=pypy-django1.4

  - TOX_ENV=pypy3-django1.8
  - TOX_ENV=pypy3-django1.7
  - TOX_ENV=pypy3-django1.6
  - TOX_ENV=pypy3-django1.5

install:
  - pip install tox
script:
  - tox -e $TOX_ENV
sudo: false
